.exchanges {
    padding-top: 100px;
    height: 481px;
    border-bottom: 1px solid rgba(182, 69, 39, 0.5);
    &__wrapper {
        position: relative;
        @include before-square;
        &:before {
            width: 487.93px;
            height: 480.74px;
            left: -460px;
            top: -556px;
            border-radius: 30px;
            transform: rotate(45deg);
            background: rgba(231, 142, 59, 0.05);
        }
        @include after_square;
        &:after {
            width: 487.93px;
            height: 480.74px;
            top: -230px;
            left: -460px;
            border-radius: 30px;
            transform: rotate(45deg);
            background: rgba(231, 142, 59, 0.05);
        }
    }
    &__icons {
        margin-top: 80px;
        display: flex;
        width: 960px;
        justify-content: space-between;
    }
}