.header {
    height: 84px;
    padding-top: 28px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        &-link{
            margin-left: 50px;
            font-family: 'Encode Sans Expanded', sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 22px;
            color: #000000;
            &:hover {
                color: #B64527;
                text-decoration: none;
            }
        }
    }
}