.main {
    height: 633px;
    padding-top: 100px; 
    &__wrapper {
        position: relative;
        width: 1340px;
        display: flex;
        img {
            margin: 49px 0 0 40px;
            width: 323px;
            height: 301px;
        }
        @include before_square;
        &:before {
            top: 50px;
            left: -479px;
        }
        @include after_square;
        &:after {
            top: 218px;
            left: -270px;
            z-index: -1;
        } 
    }
    &__block {
        width: 977px;
    }
    &__title {
        font-family: 'Encode Sans Expanded', sans-serif;
        font-weight: 700;
        font-size: 50px;
        line-height: 57px;
    }
    &__description {
        margin-top: 40px;
        width: 935px;
        font-weight: 400;
        font-size: 30px;
        line-height: 48px;
    }
    &__button {
        margin-top: 50px;
        width: 438px;
        height: 85px;
        background: #B64527;
        border-radius: 10px;
        font-weight: bold;
        font-size: 24px;
        line-height: 38px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
}