.roadmap {
    padding: 100px 0;
    height: 722px;
    &__wrapper {
        position: relative;
        @include before-square;
        &:before {
            width: 274px;
            height: 271px;
            right: -379px;
            top: 90px;
            border-radius: 30px;
            background: rgba(231, 142, 59, 0.05);
        }
        @include after_square;
        &:after {
            width: 274px;
            height: 271px;
            top: 199px;
            right: -278px;
            border-radius: 30px;
            background: rgba(231, 142, 59, 0.05);
        }
    }
    &__block {
        margin-top: 80px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
        column-gap: 46px;

    }
    &__item {
        position: relative;
        padding: 50px 0 0 60px;
        width: 640px;
        border-left: 2px solid #B64527;
        &:nth-child(1), &:nth-child(2) {
            padding-top: 0;
        }
        &::before {
            content: '';
            position: absolute;
            height: 2px;
            width: 30px;
            top: 60%;
            left: 0;
            background-color: #B64527;
        }
        &-title {
            font-weight: 700;
            font-size: 18px;
            line-height: 25px;
            color: #B64527;
        }
        ul {
            margin-top: 10px;
            margin-bottom: 0;
            li {
                list-style-type: none;
                position: relative;
                margin-top: 5px;
                &::before {
                    content: '';
                    position: absolute;
                    width: 4px;
                    height: 4px;
                    background: #B64527;
                    border-radius: 100%;
                    left: -12px;
                    top: 10px;
                }
            }
        }
    }
}